<div class="container ingredientForm">
    <form #f="ngForm" (ngSubmit)="sendForm(f.valid)"> 
        <div class="form-group">
            <label for="titleInput">שם</label>
            <input type="text" class="form-control" id="titleInput" placeholder="שם המצרך" required #title="ngModel" name="ingredient.title" [(ngModel)]="ingredient.title">
        </div>
        <div class="form-group">
            <label for="unitInput">יחידות</label>
            <input type="text" class="form-control" id="unitInput" placeholder="שם היחידות שבהם נמדד המצרך" required #unitTitle="ngModel" name="ingredient.unitTitle" [(ngModel)]="ingredient.unitTitle">
        </div>
        <div class="form-group">
            <label for="threshold">כמות סף להתראה</label>
            <input type="number" class="form-control" id="thresholdInput" placeholder="כמות היחידות במלאי שמחת להן תהיה התראה" required #unitTitle="ngModel" name="ingredient.threshold" [(ngModel)]="ingredient.threshold">
        </div>
        <div class="form-group">
            <label for="priceInput">מחיר</label>
            <input type="number" class="form-control" id="priceInput" placeholder="מחיר ליחידה בש''ח" required #price="ngModel" name="ingredient.price" [(ngModel)]="ingredient.price">
            <small *ngIf="this.ingredient.price && this.ingredient.price <= 0" class="form-text  text-danger">המחיר חייב להיות חיובי</small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="canExpiredCheck" #canExpired="ngModel" name="ingredient.canExpired" [(ngModel)]="ingredient.canExpired">
            <label class="form-check-label" for="canExpiredCheck">האם המוצר הוא פג תוקף</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">הוסף</button>
    </form>
    <p class="error-message" *ngIf="isErrorOnResponse">היתה שגיאה בהוספת המוצר!</p>
</div>