<div class="bg">
    <img class="back" src="../../assets/images/back.png" (click)="onBackPressed()" title="חזרה לקטגורית הראשיות"    >
    <h2 class="title">{{ category.title }}</h2>
    <div class="dish-list">
        <div class="dish" [ngClass]="{ chosen: chosenDish === dish.id }" *ngFor="let dish of dishes">
            <div class="dishToSelect" (click)="onDishClick(dish.id)">
                <img [src]="getDishImage(dish.imageUrl)" class="dish-image">
                <h5 class="dish-title">{{ dish.title }}</h5>
            </div>
            <app-dish-user-form [ngClass]="{ hideElement : chosenDish != dish.id }"  [dishId]="dish.id" (onAssociate)="onNotificationOpen($event)"></app-dish-user-form>
            <app-notification [isShow]="isNotificationOn" (onClose)="onNotificationClose()">
                <h4>הפעולה הצליחה</h4>
                <div class="body">
                    <div class="little-amount" *ngIf="currIngAlert.littleAmount.length > 0">
                        <h5>רכיבים עם מלאי נמוך:</h5>
                        <ul>
                            <li *ngFor="let ing of currIngAlert.littleAmount">{{ ing }}</li>
                        </ul>
                    </div>
                    <div class="empty-amount" *ngIf="currIngAlert.emptyAmount.length > 0">
                        <h5>רכיבים חסרים במלאי:</h5>
                        <ul>
                            <li *ngFor="let ing of currIngAlert.emptyAmount">{{ ing }}</li>
                        </ul>
                    </div>
                </div>
             </app-notification>
        </div>
    </div>
</div>
