<div class="detailedDish">
    <div id="dishDates">
        <strong id="requestedDate">תאריך הבקשה: {{ cookedRequested | date: 'hh:mm dd/MM/yyyy' }}</strong>
    </div>
    <p id="duration">זמן הכנה: {{ dish.duration }} דקות</p>
    <p id="numOfDines">הארוחה מיועדת ל-{{ dish.numberOfDines }} סועדים</p>
    <div id="ingredients">
        <p>המצרכים הם:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">שם</th>
                    <th scope="col">כמות</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ing of dish.ingerdients" [ngClass]="{lowAlert: ing.belowThreshold, alert: !ing.existInStock}">
                    <td>{{ ing.title }}</td>
                    <td>{{ ing.quantity + ' ' + ing.unitTitle }}</td>
                    <td>
                        <img *ngIf="!ing.belowThreshold" [ngClass]="{imageNotActive: ing.existInStock}" 
                            class="outOfStock" 
                            src="../../assets/images/outOfStock.jpg">
                        <img *ngIf="ing.belowThreshold"
                            class="outOfStock"
                            src="../../assets/images/stockAlert.jpg">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="preperationSteps">
        <p class="title">הוראות הכנה:</p>
        <ul id="preperationStepList">
            <li class="step" *ngFor="let step of dish.preperationSteps">{{ step }}</li>
        </ul>
    </div>   
    <button id="submitBtn" class="btn btn-primary" (click)="finishCook()" *ngIf="!isCooked">סיימתי לבשל</button> 
    <small class="error-message" *ngIf="finishCookError">יש להשלים את חומרי הגלם החסרים</small>
</div>
