<form #f="ngForm" (ngSubmit)="sendForm(f.valid)">
    <div class="formElements">
         <div class="dish-user-input-container">
            <label>שייך את המנה לטבח</label>
            <select class="form-control cookSelect" [(ngModel)]="selectedCook" name="selectedCook">
                <option [ngValue]="-1">בחר</option>
                <option *ngFor="let cook of cooks" [ngValue]="cook.id">{{ cook.firstName + ' ' + cook.lastName }}</option>
            </select>
         </div>
                <button type="submit" class="btn btn-primary sendButton" [disabled]="selectedCook < 1">שלח</button>
        </div>
     <small class="error-message" *ngIf="isError">נוצרה בעיה בשיוך המנה לטבח</small>
 </form>